template_deploy.yaml
dist/
node_modules/
package-lock.json
.env*.local

__pycache__
*.db
shop_backend/_black_version.py
shop_backend/mccabe.py
shop_backend/mypy_extensions.py
shop_backend/pycodestyle.py
shop_backend/six.py
shop_backend/typing_extensions.py
shop_backend/_cffi_backend.*
*.so


*.sw?
